button {
  width:45px;
  height: 45px;
  background-color: aqua;
  color: black;
  border-radius: 20px;
  border: solid 1px white;
  font-size:18px ;
  font-weight: bolder;
}

input {
 border-radius: 15px;
 height: 30px;
 width: 200px;
 border: solid 2px aqua;
 color: black;
 font-weight: bolder;
 font-size:18px ;
}

.container{
    margin: auto;
    width: 25%;
}

.buttons{
  padding-left: 10px;
}
#button-calcule{
  width: 90px;
}